/* global styles */

/* Uncomment font-face, if you wish to use custom fonts */
/* Keep in mind, that file size increases with custom fonts */

/* @font-face {
  font-family: 'Overpass Mono';
  src: url('../assets/OverpassMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Overpass Mono';
  src: url('../assets/OverpassMono-Bold.ttf');
  font-weight: bold;
}
*/

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

$base-font-size: 18px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

body {
  font-size: $base-font-size;
  font-family: $font-family;
}

.content {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}