@font-face {
  font-family: 'PT Mono';
  src: url('../fonts/PTMono-Regular.ttf');
}

// basic styles
$base-font-size: 18px;
$font-family: 'PT Mono', monospace;

body {
  font-size: $base-font-size;
  font-family: $font-family;
}